/* footer */
.footer {
    .footer_top {
        background-color: var(--mainColor);
        height: 7rem;

        .wide_inner {
            .footer_top_left {
                .info {
                    display: flex;
                    gap: 1.2rem;
                    align-items: center;

                    li {
                        a {
                            font-weight: 500;
                            text-align: center;
                        }
                    }
                }
            }

            .footer_top_right {
                display: flex;
                gap: 4rem;

                .sns_list {
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    li {
                        width: 3.5rem;

                        a {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }

                .site_map_wrap {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.active {
                        .site_list {
                            display: block;
                        }
                    }

                    .site_map {
                        display: flex;
                        background-color: #fff;
                        width: 25rem;
                        height: 4rem;
                        border: 1px solid #d2d2d2;
                        border-radius: 3rem;
                        font-size: 1.4rem;
                        color: #222;
                        justify-content: center;
                        align-items: center;
                        gap: 8rem;
                    }

                    .site_list {
                        display: none;
                        position: absolute;
                        top: -27rem;
                        width: 25rem;
                        background-color: #fff;
                        border: 0.5px solid #d2d2d2;
                        border-radius: 3rem;
                        padding: 1rem 0;
                        text-align: center;
                        z-index: 10000;

                        li {
                            a {
                                font-size: 1.4rem;
                                font-weight: 500;
                                line-height: 2.5;
                            }
                        }

                    }
                }
            }
        }
    }

    .footer_bottom {
        height: 32rem;
        background: var(--subColor);
        color: #fff;

        .wide_inner {
            .footer_bottom_left {
                .footer_logo {
                    width: 7rem;
                    margin-top: 1.5rem;

                    img {
                        width: 100%
                    }
                }

                address {
                    padding: 2rem 0;
                    font-size: 1.5rem;
                    line-height: 2;

                    span {
                        margin-right: 1rem;
                    }
                }

                .copy {
                    font-size: 1.2rem;
                    color: #969696;
                }
            }

            .footer_bottom_right {
                .footer_menu {
                    text-align: end;
                    line-height: 2.5;
                    font-size: 1.5rem;
                    font-weight: 500;
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    html {
        font-size: 8px;
    }

    .footer {
        .footer_top {
            .wide_inner {
                .footer_top_left {
                    .info {
                        display: none;
                    }
                }

                .footer_top_right {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                }
            }
        }

        .footer_bottom {
            height: 32rem;
            background: var(--subColor);
            color: #fff;

            .wide_inner {
                .footer_bottom_left {
                    .footer_logo {
                        margin-bottom: 5rem;
                    }

                    address {
                        display: none;
                    }

                    .copy {
                        font-size: 1.2rem;
                        color: #969696;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:780px) {
    html {
        font-size: 7px;
    }

    .footer {
        .footer_top {
            height: 5rem;

            .wide_inner {
                .footer_top_left {
                    .info {
                        display: none;
                    }
                }

                .footer_top_right {
                    justify-content: flex-end;

                    .site_map_wrap {
                        display: none;
                    }
                }
            }
        }

        .footer_bottom {
            height: 20rem;

            .wide_inner {
                .footer_bottom_left {
                    .copy {
                        font-size: 1.2rem;
                        color: #969696;
                    }
                }

                .footer_bottom_right {
                    display: none;
                }
            }
        }
    }
}