.main_slider_wrap {
    /* max-width: 1920px; */
    /* padding: 100px 0; */
    height: 1200px;
    background-color: aqua;
}

.main_slider{
    padding:210px 0;
}

.swiper-slide img {
    width: 100%;
    border-radius: 3rem;
    transition: 0.5s;
    /* transform: scale(0.7); */
}

.swiper-slide-active img {
    transform: scale(1.3);
}