:root {
    --mainColor: #ffcc00;
    --subColor: #321F00;
    --pointColor: #ff6601;
}


html {
    font-size: 10px;
    font-family: "Paperlogy", "돋움", sans-serif;
}

body {
    font-size: 1.6rem;
    color: #222;
}

.inner {
    /* background: aqua; */
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.sub_title {
    font-size: 7rem;
    font-weight: 900;
    color: #000000;
}

/* main */
.main_Brand {
    margin-top: 100px;
}

.main_img {
    text-align: center;
}

.main_text {
    margin-top: 20px;
    font-size: 2.8rem;
    text-align: center;
    font-weight: 700;
}



/* grow */
.grow {
    margin-top: 100px
}



/* recipe */
.recipe {
    display: flex;
    justify-content: center;
    gap: 80px;
    /* background-color: red; */
}

.recipe .rec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-top: 50px;
    /* border: 1px solid black; */
    border-radius: 30px;
    width: 360px;
    height: 360px;
    background-color: var(--subColor);
    padding: 20px;
    box-sizing: border-box;
}


.recipe .rec_img {
    width: 100px;
    height: 100px;
    position: relative;
    width: fit-content;
}

.rec_img img {
    display: block;
    /* transition: opacity 0.3s ease-in-out; */
}

.rec_img .img_hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}


.rec_img .img_default {
    display: block;
}

.rec:hover .img_hover {
    opacity: 1;
}

.rec:hover .img_default {
    opacity: 0;
}

.recipe .rec:hover {
    background-color: var(--mainColor);
}

.recipe .rec:hover>span {
    color: var(--subColor);
}


.recipe .rec .rec_title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--mainColor);
}

.recipe .rec>span {
    font-size: 1.4rem;
    color: var(--mainColor);
    line-height: 1.5;
}


/* mainColor */

.main_color {
    margin-top: 100px;
}

.color_wrap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 200px;
    /* background-color: red; */
    width: 100%;
}

.color_title {
    font-size: 1.6rem;
    font-weight: 700;
}

.sub_color {
    display: flex;
    gap: 30px;
}


.main_color .color_wrap .color1 {
    display: block;
    text-align: center;
    /* background-color: red; */
    gap: 10px
}

.main_color .color_wrap .color2 {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.color1 .sub_text {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: 300;
}

.color2 .sub_text {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: 300;
}

.sub_color_title {
    font-size: 1.3rem;
    font-weight: 400;
}

.slogun_wrap {
    margin-top: 50px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




.slogun1 {
    border-radius: 30px;
    background-color: var(--mainColor);
    color: #000000;
    width: 800px;
    height: 240px;
    gap: 30px;
    align-items: center;
    text-align: center;
    line-height: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
}



.slogun2 {
    margin-top: 20px;
    border-radius: 30px;
    background-color: var(--subColor);
    color: var(--mainColor);
    width: 800px;
    height: 240px;
    align-items: center;
    text-align: center;
    line-height: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;

}

.history .sub_title {
    margin-top: 100px;
}


.year .years {
    display: flex;
    /* background-color: red; */
    font-size: 1.8rem;
    font-weight: 300;
    border-bottom: 1px dashed black;
    padding: 100px;
    width: 900px;
    gap: 100px;
    margin: 0 auto;
    position: relative;

}

.year .years .year_text {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-size: 1.8rem;
    font-weight: 600;
}

.year .years .history_title {
    font-size: 6.0rem;
    font-weight: 900;
    color: var(--pointColor)
}

.more_btn {
    /* position: absolute; */
    display: block;
    margin: 100px auto 0;
    width: 160px;
    height: 60px;
    font-size: 2rem;
    font-weight: 900;
    background-color: var(--pointColor);
    color: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.close_btn {
    /* position: absolute; */
    display: block;
    margin: 100px auto 0;
    width: 160px;
    height: 60px;
    font-size: 2rem;
    font-weight: 900;
    background-color: var(--pointColor);
    color: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

/* header */
header {
    position: fixed;
    width: 100%;
    height: 8rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 100000;
    top:0;

    .wide_inner {
        .logo {
            height: 6rem;

            img {
                height: 100%;
            }
        }

        .main_menu {
            display: flex;
            /* width: ; */
            gap: 4rem;

            >li {
                /* background-color: rgba(0, 255, 0, 0.3); */
                position: relative;
                /* padding: 0 2rem; */
                line-height: 8rem;

                >a {
                    display: block;
                    padding: 0 2rem;
                    font-size: 1.8rem;
                    font-weight: 700;
                    color: var(--subColor);
                    border-bottom: 3px solid transparent;
                }

                &:hover {
                    >a {
                        color: var(--mainColor);
                        border-bottom: 3px solid var(--mainColor);
                    }
                }
            }

            &::before {
                content: "";
                display: block;
                position: fixed;
                width: 100%;
                height: 0;
                /* background-color: beige; */
                background: #fff;
                left: 0;
                top: 8rem;
                transition: 0.5s;
                border-radius: 0 0 3rem 3rem;
            }

            &:hover {
                &::before {
                    height: 24rem;
                    border: 0.5px solid #ddd;
                    border-top: 0;
                }

                .sub_menu {
                    padding-top: 2rem;
                    height: 20rem;
                }
            }
        }

        .sub_menu {
            /* background-color: coral; */
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            height: 0;
            overflow: hidden;
            transition: 0.5s;
            width: 100%;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2;
            color: var(--subColor);

            li {
                height: 3.5rem;

                &:hover {
                    a {
                        font-weight: 600;
                        /* color:var(--mainColor); */
                        /* padding: 0 1rem; */
                        /* background-color: var(--mainColor); */
                        border-bottom: 3px solid var(--mainColor);
                    }
                }
            }
        }

        .search_box {
            display: none;
        }

        .gnb {
            display: flex;
            gap: 1rem;
            align-items: center;

            .search_icon,
            .menu_icon {
                width: 4rem;

                img {
                    width: 100%;
                }
            }

            .search {
                display: flex;
                position: relative;

                .search_x {
                    display: none;
                    gap: 1rem;
                    position: absolute;
                    right: 0;
                    top: 0;

                    input {
                        width: 20rem;
                        height: 4rem;
                        border-radius: 4rem;
                        padding: 0 2rem;
                        font-size: 1.3rem;
                        color: #ddd;
                        border: 2px solid var(--mainColor);
                    }
                }

                &:active .search_x {
                    display: flex;
                }
            }
        }
    }
}

/* footer */
footer {
    margin-top: 50px;

    /* background-color: bisque; */
    .footer_top {
        background-color: var(--mainColor);
        height: 7rem;

        .wide_inner {

            /* background-color: burlywood; */
            .footer_top_left {
                .info {
                    display: flex;
                    gap: 1.2rem;

                    li {
                        a {
                            font-size: 1.6rem;
                            font-weight: 500;
                            line-height: 7rem;
                            text-align: center;
                        }
                    }
                }
            }

            .footer_top_right {
                display: flex;
                gap: 4rem;

                .sns_list {
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    li {
                        width: 3.5rem;

                        a {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }

                .site_map_wrap {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:active {
                        .site_list {
                            display: block;
                        }
                    }

                    .site_map {
                        display: flex;
                        background-color: #fff;
                        width: 25rem;
                        height: 4rem;
                        border: 1px solid #d2d2d2;
                        border-radius: 3rem;
                        font-size: 1.4rem;
                        color: #222;
                        justify-content: center;
                        align-items: center;
                        gap: 8rem;
                    }

                    .site_list {
                        display: none;
                        position: absolute;
                        top: -27rem;
                        width: 25rem;
                        background-color: #fff;
                        border: 0.5px solid #d2d2d2;
                        border-radius: 3rem;
                        padding: 1rem 0;
                        text-align: center;
                        z-index: 10000;

                        li {
                            a {
                                font-size: 1.4rem;
                                font-weight: 500;
                                line-height: 2.5;
                            }
                        }

                    }
                }
            }
        }

    }

    .footer_bottom {
        background-color: var(--subColor);
        height: 32rem;
        color: #fff;

        .wide_inner {
            /* background-color: cornflowerblue; */
            height: 100%;

            .footer_bottom_left {
                .footer_logo {
                    width: 7rem;
                    margin-top: 1.5rem;

                    img {
                        width: 100%
                    }
                }

                address {
                    padding: 2rem 0;
                    font-size: 1.5rem;
                    line-height: 2;

                    span {
                        margin-right: 1rem;
                    }
                }

                .copy {
                    font-size: 1.2rem;
                    color: #969696;
                }
            }

            .footer_bottom_right {
                .footer_menu {
                    text-align: end;
                    line-height: 2.5;
                    font-size: 1.5rem;
                    font-weight: 500;
                }
            }
        }
    }
}



