
section {
    height: 100vh;
}

.section_title {
    color: var(--subColor);

    >span {
        color: var(--mainColor);
    }
}

/* 슬라이드 배너 */
.sub_slider_wrap {
    background: var(--pointColor);
    padding: 10rem 0;
    /* height: 100vh; */
}

.slider_wrap {
    /* background-color: aliceblue; */
    padding: 2rem 0;
}

.sub_slider {
    text-align: center;
    position: relative;
    width: 80rem;
}

.sub_slider a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub_slider a video {
    /* width: 100%; */
    border-radius: 15rem 3rem 15rem 3rem;
}

.sub_slider_wrap .sub_slider_bottom>.section_title {
    color: #fff;
    padding-top: 3rem;
    /* line-height: 10; */
}

.swiper-pagination-bullet {
    gap: 2.5rem;
    height: 2rem;
    width: 2rem;
    background: #eee;
    border-radius: 10px;
    transition: 0.6s;
}

.swiper-pagination-bullet-active {
    width: 6.5rem !important;
    background: var(--mainColor);
}

.sub_slider_bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub_slider_bottom #pager_btn {
    position: relative !important;
    /* right:0 !important; */
    width: auto !important;
    /* left:100%; */
    /* transform: translateX(-100%); */
    display: flex;
}

/* 탭버튼 */
.sub_tab_btn_wrap {
    padding: 8rem 0;

    .tab_btn_list {
        display: flex;
        gap: 4rem;
        justify-content: space-between;

        .tab_btn {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                /* width: 100%; */
                height: 5rem;
                padding: 0 7rem;
                background: var(--subColor);
                color: var(--mainColor);
                border-radius: 4rem;
                position: relative;
                font-size: 1.6rem;
                font-weight: 700;

                &::after {
                    content: "";
                    display: none;
                    position: absolute;
                    width: 4.7rem;
                    height: 5rem;
                    background-color: aqua;
                    background: url(../images/bhc_tab_btn.png) no-repeat center;
                    top: -5rem;
                    right: 0;
                }

                &:hover {
                    background: var(--mainColor);
                    color: var(--subColor);

                    &::after {
                        display: block;
                    }
                }
            }
        }

        .active {
            a {
                background: var(--mainColor);
                color: var(--subColor);

                &::after {
                    display: block;
                }
            }
        }


    }
}

/* 서브 인스타 */
.sub_insta_wrap {
    .sub_insta_top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .section_title {
            color: var(--subColor);
        }

        .bhc_btn {
            a {
                display: flex;
                width: 30rem;
                height: 6rem;
                background: var(--subColor);
                /* border: 2px solid var(--subColor); */
                border-radius: 5rem;
                justify-content: space-between;
                align-items: center;
                padding: 0 5rem;
                font-size: 2rem;
                font-weight: 900;
                color: var(--mainColor);
                background-image: url(../images/arrow_y.svg);
                background-repeat: no-repeat;
                background-position: right 4rem center;
                transition: 0.2s;
            }

            &:hover {
                a {
                    background: var(--mainColor);
                    color: var(--subColor);
                    background-image: url(../images/arrow_br.svg);
                    background-repeat: no-repeat;
                    background-position: right 4rem center;
                }
            }
        }
    }

    .insta_list {
        display: flex;
        gap: 6rem;
        justify-content: center;
        padding: 5rem 0;

        .insta_card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 46rem;
            height: 54rem;
            border: 0.5px solid #dddddd;
            border-radius: 2rem;
            background: #fff;
            position: relative;

            &:hover {
                border: 0.5px solid transparent;
                outline: 3px solid var(--mainColor);

                .text_box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    width: 100%;
                    height: 100%;
                    /* background-color: aliceblue; */
                    border-radius: 2rem;
                    position: absolute;
                    left: 0;
                    top: 0;
                    color: #fff;
                    background-color: rgba(0, 0, 0, 0.7);
                    text-align: center;
                    line-height: 1.2;

                    span {
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 1.5;
                    }

                    strong {
                        font-size: 3rem;
                        font-weight: 900;
                        color: var(--pointColor);
                    }
                }
            }

            .card_top {
                display: flex;
                gap: 1.5rem;
                align-items: center;
                height: 6rem;

                .sns_logo {
                    height: 4rem;
                    width: 4rem;
                    border-radius: 50%;
                    border: 0.5px solid #ddd;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }

                .sns_id {
                    font-weight: 700;
                }
            }

            .card_img {
                width: 32rem;
                height: 40rem;
                background: url(../images/sub_insta_01.jpg) no-repeat;
                background-size: cover;
            }

            .img2 {
                background: url(../images/sub_insta_02.jpg) no-repeat;
                background-size: cover;
            }

            .img3 {
                background: url(../images/sub_insta_03.jpg) no-repeat;
                background-size: cover;
            }

            .card_footer {
                display: flex;
                justify-content: space-between;
                height: 6rem;
                padding-top: 1.2rem;

                .card_footer_left {
                    display: flex;
                    gap: 1rem;
                }
            }

            .text_box {
                display: none;
            }
        }

    }
}

/* 서브 유튜브&숏츠 */
.sub_youtube_wrap {
    background: #eee;
    height: 1000px;

    .inner {
        height: inherit;

        .youtube_wrap {
            margin: 0 auto;
            height: 100%;
            width: 93rem;
            position: relative;
            padding: 10rem 0;


            .youtube_list {
                position: relative;
                height: 800px;


                .video_wrap {
                    position: absolute;
                    box-shadow: 0.2rem 0.2rem 0.8rem #dddddd;
                    /* border: 0.5px solid #ddd; */

                    a {
                        .video_box {
                            >span {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);

                                img {
                                    width: 8rem;
                                }
                            }
                        }

                        .text_box {
                            display: none;
                        }

                        /* &:hover {
                            .text_box {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 2rem;
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                color: #fff;
                                background-color: rgba(0, 0, 0, 0.7);

                                span {
                                    font-size: 1.6rem;
                                    font-weight: 400;
                                    line-height: 1.5;
                                }

                                strong {
                                    font-size: 3rem;
                                    font-weight: 900;
                                    color: var(--pointColor);
                                }
                            }
                        } */
                    }

                    &:hover {
                        outline: 3px solid var(--mainColor);
                        a {
                            
                            .text_box {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 2rem;
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                color: #fff;
                                background-color: rgba(0, 0, 0, 0.7);

                                span {
                                    font-size: 1.6rem;
                                    font-weight: 400;
                                    line-height: 1.5;
                                }

                                strong {
                                    font-size: 3rem;
                                    font-weight: 900;
                                    color: var(--pointColor);
                                }
                            }
                        }
                    }
                }

                .shorts {
                    width: 30rem;
                    height: 42.5rem;
                    background-color: antiquewhite;
                    border-radius: 3rem;
                    left: 0;
                    top: 0;
                    overflow: hidden;

                    a {
                        .text_box {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &:hover {
                        .video_box {
                            span {
                                display: none;
                            }
                        }
                    }
                }

                .youtube {
                    width: 60rem;
                    height: 33rem;
                    background-color: antiquewhite;
                    border-radius: 3rem;
                    overflow: hidden;

                    a {
                        .video_box {
                            video {
                                width: 100%;
                                aspect-ratio: 16 / 9;
                            }
                        }

                        .text_box {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &:hover {
                        .video_box {
                            span {
                                display: none;
                            }
                        }
                    }

                }

                .youtube1 {
                    right: 0;
                    top: 9.5rem;
                }

                .youtube2 {
                    left: 0;
                    bottom: 2rem;
                }

                .section_title {
                    color: var(--subColor);
                    position: absolute;
                    left: 50%;
                    top: -2rem;
                }
            }

            .bhc_img {
                height: 20rem;
                position: absolute;
                right: -6rem;
                bottom: 2rem;

                img {
                    height: 100%;
                }
            }

            .bhc_btn {
                position: absolute;
                right: 0;
                bottom: 28rem;

                a {
                    display: flex;
                   width: 30rem;
                    height: 6rem;
                    background: var(--subColor);
                    /* border: 2px solid var(--subColor); */
                    border-radius: 5rem;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 5rem;
                    font-size: 2rem;
                    font-weight: 900;
                    color: var(--mainColor);
                    background-image: url(../images/arrow_y.svg);
                    background-repeat: no-repeat;
                    background-position: right 4rem center;
                    transition: 0.2s;
                }

                &:hover {
                    a {
                        background: var(--mainColor);
                        color: var(--subColor);
                        background-image: url(../images/arrow_br.svg);
                        background-repeat: no-repeat;
                        background-position: right 4rem center;
                    }
                }
            }
        }
    }
}

/* 이벤트 */

.sub_event_wrap {
    padding: 12rem 0;
    .section_title {
        text-align: center;
        color: var(--subColor);
    }

    .event_list {
        display: flex;
        gap: 2rem;
        padding: 5rem 0;

        .event_card {
            display: flex;
            position: relative;
            width: 71rem;
            height: 38rem;
            background-color: aliceblue;
            border-radius: 3rem;
            overflow: hidden;
            border: 0.5px solid #dddddd;

            /* box-shadow: 0.2rem 0.2rem 0.8rem #dddddd; */
            a {
                .text_box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 5rem;
                    position: absolute;
                    left: 0;
                    width: 27rem;
                    height: 100%;
                    /* background-color: cornsilk; */
                    background-color: #fff;

                    .event_title {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 1rem;
                        font-size: 1.8rem;
                        color: var(--subColor);
                        /* font-weight: 700; */

                        span {
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.5;
                        }

                        strong {
                            font-size: 3rem;
                            font-weight: 900;
                            color: var(--pointColor);
                        }
                    }

                    .event_date {
                        font-size: 1.4rem;
                        font-weight: 700;
                    }

                }

                .img_box {
                    position: absolute;
                    right: 0;
                    width: 40rem;
                    height: 100%;
                    background-color: cadetblue;

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                .img_box1 {
                    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fed95c+0,fde468+50,fbed73+100 */
                    background: linear-gradient(to bottom, #fed95c 0%, #fde468 50%, #fbed73 100%);

                    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    img {
                        height: 100%;
                    }
                }

                .img_box2 {
                    background-color: var(--pointColor);
                }
            }

            .more_btn {
                display: none;
            }

            &:hover {
                outline: 3px solid var(--mainColor);
                .more_btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 100%;
                    height: 100%;
                    transform: translate(-50%, -50%);
                    font-size: 3rem;
                    font-weight: 700;
                    color: #fff;
                    background-color: rgba(0, 0, 0, 0.7);
                }
            }
        }


    }

    .bhc_btn {
        /* position: absolute; */
        display: flex;
        justify-content: center;
        padding-bottom: 5rem;

        a {
            display: flex;
            width: 30rem;
            height: 6rem;
            background: var(--subColor);
            /* border: 2px solid var(--subColor); */
            border-radius: 5rem;
            justify-content: space-between;
            align-items: center;
            padding: 0 5rem;
            font-size: 2rem;
            font-weight: 900;
            color: var(--mainColor);
            background-image: url(../images/arrow_y.svg);
            background-repeat: no-repeat;
            background-position: right 4rem center;
            transition: 0.2s;
        }

        &:hover {
            a {
                background: var(--mainColor);
                color: var(--subColor);
                background-image: url(../images/arrow_br.svg);
                background-repeat: no-repeat;
                background-position: right 4rem center;
            }
        }
    }

}

.footer_rolling {
    width: 100%;
    height: 30rem;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    /* background: #f0f0f0; */

    .rolling_text1 {
        display: inline-block;
        font-size: 10rem;
        font-weight: 900;
        color: transparent;
        -webkit-text-stroke: 1px var(--subColor);
        position: absolute;
        width: 100%;
        height: 60rem;
        white-space: nowrap;
        /* transform: translateX(50%); */
        animation: scroll-left 12s linear infinite;
        opacity: 0.6;

    }

    .rolling_text2 {
        display: inline-block;
        font-size: 5rem;
        font-weight: 900;
        position: absolute;
        top: 150px;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        color: var(--subColor);
        /* transform: translateX(50%); */
        animation: scroll-right 12s linear infinite;
        opacity: 0.8;
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}