.order_wrap {
    .inner {
        max-width: 1080px;
        display: flex;
        gap: 53px;
        aspect-ratio: 1/1;

        button {
            all: unset;
            cursor: pointer;
        }

        .order_left {
            h2 {
                font-size: 40px;
            }

            >p {
                border: 1px solid #D9D9D9;
                border-radius: 30px;
                overflow: hidden;
                aspect-ratio: 6/4;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 80%;
                    display: block;
                }
            }

        }

        .order_right {
            gap: 50px;

            h3 {
                font-size: 24px;
                margin: 50px 0 15px;
            }

            .order_list {

                .order_box {
                    border: 2px solid #d9d9d9;
                    border-radius: 20px;
                    width: 600px;
                    padding: 32px 40px;
                }

                .add_seas {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    label {
                        position: relative;
                        cursor: pointer;
                        padding-left: 30px;

                        input[type="checkbox"] {
                            position: absolute;
                            opacity: 0;

                            &:checked+.bhc_checkbox {
                                background-color: var(--subColor);
                                border-color: var(--subColor);

                                &::after {
                                    content: "";
                                    position: absolute;
                                    left: 6px;
                                    top: 2px;
                                    width: 5px;
                                    height: 10px;
                                    border: solid var(--mainColor);
                                    border-width: 0 2px 2px 0;
                                    transform: rotate(45deg);
                                }
                            }
                        }

                        .bhc_checkbox {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            height: 20px;
                            width: 20px;
                            background-color: #D9D9D9;
                            border: 1.5px solid #ccc;
                            border-radius: 4px;
                        }
                    }
                }

                .add {
                    display: flex;
                }

            }



        }
    }
}