/* 주문페이지 */
main {
    min-height: 940px;
}

.order_wrap {
    padding-top: 90px;

    .inner {
        max-width: 1080px;
        display: flex;
        gap: 53px;
        /* aspect-ratio: 1/1; */

        button {
            all: unset;
            cursor: pointer;
        }

        .order_left {
            h2 {
                font-size: 4rem;
                margin: 25px 0 20px;
            }

            >p {
                border: 1px solid #D9D9D9;
                border-radius: 30px;
                overflow: hidden;
                aspect-ratio: 6/4;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 80%;
                    display: block;
                }
            }
        }

        .order_right {
            height: calc(100vh - 90px - 110px);
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            h3 {
                font-size: 2.4rem;
                margin: 50px 0 15px;

                button{
                    display: none;
                }
            }

            .order_list {

                .half_order_box,
                .seas_order_box {
                    border: 2px solid #d9d9d9;
                    border-radius: 20px;
                    width: 500px;
                    padding: 22px 40px;
                }

                .order_box {
                    border: 2px solid #d9d9d9;
                    border-radius: 20px;
                    width: 500px;
                    padding: 22px 10px 22px 20px;
                }

                .fitH {
                    height: 390px;
                    overflow: auto;

                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    &::-webkit-scrollbar-track {
                        background: transparent;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: var(--mainColor);
                        border-radius: 30px;
                    }
                }

                .add_seas {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    label {
                        position: relative;
                        cursor: pointer;
                        padding-left: 30px;

                        input[type="checkbox"] {
                            position: absolute;
                            opacity: 0;

                            &:checked+.bhc_checkbox {
                                background-color: var(--subColor);
                                border-color: var(--subColor);

                                &::after {
                                    content: "";
                                    position: absolute;
                                    left: 6px;
                                    top: 2px;
                                    width: 5px;
                                    height: 10px;
                                    border: solid var(--mainColor);
                                    border-width: 0 2px 2px 0;
                                    transform: rotate(45deg);
                                }
                            }
                        }

                        .bhc_checkbox {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            height: 20px;
                            width: 20px;
                            background-color: #D9D9D9;
                            border: 1.5px solid #ccc;
                            border-radius: 4px;
                        }
                    }
                }

                .count {
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid var(--mainColor);
                    border-radius: 50px;
                    font-size: 22px;
                    font-weight: 700;
                    padding: 18px 40px;
                }

                .add {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 8px;
                    margin-right: 20px;

                    .img {
                        img {
                            width: 110px;
                            height: 80px;
                            object-fit: contain;
                        }
                    }

                    .menu {
                        flex: 1;
                        margin-left: 20px;

                        p {
                            display: flex;
                            flex-direction: column;
                            gap: 6px;
                        }

                        span {
                            font-weight: bold;
                        }
                    }

                    .counter {
                        border: 1px solid #A3A3A3;
                        gap: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-radius: 50px;
                        padding: 9px 8px;
                    }
                }

                .half_order_box {
                    >.add {
                        margin-right: 0;
                    }
                }

            }
        }
    }

    .order_bottom {
        background: #fff;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        border-radius: 30px 30px 0 0;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);

        .total_order {
            display: flex;
            /* border: 2px solid #A3A3A3; */
            border-radius: 30px 0 0 0;
            border-right: none;
            width: 810px;
            height: 116px;
            padding: 15px 30px 15px 5px;
            flex: 3;

            .category {
                flex: 1;
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                gap: 13px;

                strong {
                    font-size: 2.2rem;
                }
            }

            .line {
                word-break: keep-all;
                border-left: 0.5px solid #D9D9D9;
            }
        }

        .total {
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
            /* border: 2px solid #A3A3A3; */
            border-radius: 0 30px 0 0;
            width: 270px;
            height: 116px;
            background-color: var(--subColor);
            color: var(--mainColor);
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 15px 30px 15px 0;
            gap: 13px;

            strong {
                font-size: 2.3rem;
            }

            span {
                font-size: 2.2rem;
                cursor: pointer;
            }
        }
    }

    .order_bottom.sticky-end {
        position: absolute;
        bottom: auto;
    }
}

@media screen and (max-width:1024px) {
    .order_wrap {
        .inner {
            gap: 40px;

            .order_right {
                .order_list {
                    font-size: 1.8rem;
                }
            }
        }

        .order_bottom {
            width: 100%;

            .total {
                width: 23rem;
            }
        }
    }
}

@media screen and (max-width:786px) {

    .order_wrap {
        .inner {
            flex-direction: column;
            align-items: center;

            .order_left {

                >p {
                    aspect-ratio: 5/3;

                    img {
                        width: 65%;
                        display: block;
                    }
                }
            }

            .order_right {
                height: auto;

                h3 {
                    font-size: 20px;
                }
            }
        }

        .order_bottom {
            font-size: 1.8rem;

            .total_order {
                height: 100px;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .order_wrap {

        .inner {

            .order_left {
                h2 {
                    font-size: 24px;
                }

                >p {
                    aspect-ratio: 4/2;

                    img {
                        width: 50%;
                    }
                }
            }

            .order_right {
                .clean {
                    border-bottom: none;
                }

                h3 {
                    display: flex;
                    justify-content: space-between;
                    font-size: 16px;
                    margin: 50px 0 15px;
                    padding-bottom: 6px;
                    border-bottom: 1px solid var(--mainColor);

                    button{
                        display: block;
                    }
                }

                .order_list {
                    font-size: 1.4rem;
                    text-align: left;

                    .img {
                        display: none;
                    }

                    .seas_order_box{
                        width: 300px;
                        padding: 22px 30px;
                    }

                    .half_order_box {
                        border: none;
                        width: 300px;
                        padding: 15px 0;
                        display: none;
                    }

                    .order_box {
                        border: none;
                        width: 300px;
                        padding: 22px 0;
                        
                    }

                    .fitH {
                        height: max-content;
                        overflow: none;
                    }

                    .count {
                        border: 1px solid var(--mainColor);
                        border-radius: 50px;
                        font-size: 20px;
                        font-weight: 600;
                        padding: 18px 40px;
                    }

                    .add {
                        margin-bottom: 12px;
                        margin-right: 0;

                        .menu {
                            margin: 0;
                        }

                        .counter {
                            gap: 18px;
                            padding: 7px 6px;
                        }
                    }

                    .order{
                        display: none;
                    }
                }
            }
        }

        .order_bottom {
            background: none;
            box-shadow: none;
            width: 100%;
            justify-content: center;

            .total_order {
                display: none;
            }

            .total {
                border-radius: 30px 30px 0 0;
                width: 80%;
                height: 80px;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 10px 20px;
                gap: 0;

                span{
                    margin-left: 25px;
                }
            }
        }
    }
}