/* header */
header {
    position: fixed;
    width: 100%;
    height: 8rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 100000;
    top:0;

    .wide_inner {
        .logo {
            height: 6rem;

            img {
                height: 100%;
            }
        }

        .main_menu {
            display: flex;
            /* width: ; */
            gap: 4rem;

            >li {
                /* background-color: rgba(0, 255, 0, 0.3); */
                position: relative;
                /* padding: 0 2rem; */
                line-height: 8rem;

                >a {
                    display: block;
                    padding: 0 2rem;
                    font-size: 1.8rem;
                    font-weight: 700;
                    color: var(--subColor);
                    border-bottom: 3px solid transparent;
                }

                &:hover {
                    >a {
                        color: var(--mainColor);
                        border-bottom: 3px solid var(--mainColor);
                    }
                }
            }

            &::before {
                content: "";
                display: block;
                position: fixed;
                width: 100%;
                height: 0;
                /* background-color: beige; */
                background: #fff;
                left: 0;
                top: 8rem;
                transition: 0.5s;
                border-radius: 0 0 3rem 3rem;
            }

            &:hover {
                &::before {
                    height: 24rem;
                    border: 0.5px solid #ddd;
                    border-top: 0;
                }

                .sub_menu {
                    padding-top: 2rem;
                    height: 20rem;
                }
            }
        }

        .sub_menu {
            /* background-color: coral; */
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            height: 0;
            overflow: hidden;
            transition: 0.5s;
            width: 100%;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2;
            color: var(--subColor);

            li {
                height: 3.5rem;

                &:hover {
                    a {
                        font-weight: 600;
                        /* color:var(--mainColor); */
                        /* padding: 0 1rem; */
                        /* background-color: var(--mainColor); */
                        border-bottom: 3px solid var(--mainColor);
                    }
                }
            }
        }

        .search_box {
            display: none;
        }

        .gnb {
            display: flex;
            gap: 1rem;
            align-items: center;

            .search_icon,
            .menu_icon {
                width: 4rem;

                img {
                    width: 100%;
                }
            }

            .search {
                display: flex;
                position: relative;

                .search_x {
                    display: none;
                    gap: 1rem;
                    position: absolute;
                    right: 0;
                    top: 0;

                    input {
                        width: 20rem;
                        height: 4rem;
                        border-radius: 4rem;
                        padding: 0 2rem;
                        font-size: 1.3rem;
                        color: #ddd;
                        border: 2px solid var(--mainColor);
                    }
                }

                &:active .search_x {
                    display: flex;
                }
            }
        }
    }
}

/* footer */
footer {
    margin-top: 50px;

    /* background-color: bisque; */
    .footer_top {
        background-color: var(--mainColor);
        height: 7rem;

        .wide_inner {

            /* background-color: burlywood; */
            .footer_top_left {
                .info {
                    display: flex;
                    gap: 1.2rem;

                    li {
                        a {
                            font-size: 1.6rem;
                            font-weight: 500;
                            line-height: 7rem;
                            text-align: center;
                        }
                    }
                }
            }

            .footer_top_right {
                display: flex;
                gap: 4rem;

                .sns_list {
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    li {
                        width: 3.5rem;

                        a {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }

                .site_map_wrap {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:active {
                        .site_list {
                            display: block;
                        }
                    }

                    .site_map {
                        display: flex;
                        background-color: #fff;
                        width: 25rem;
                        height: 4rem;
                        border: 1px solid #d2d2d2;
                        border-radius: 3rem;
                        font-size: 1.4rem;
                        color: #222;
                        justify-content: center;
                        align-items: center;
                        gap: 8rem;
                    }

                    .site_list {
                        display: none;
                        position: absolute;
                        top: -27rem;
                        width: 25rem;
                        background-color: #fff;
                        border: 0.5px solid #d2d2d2;
                        border-radius: 3rem;
                        padding: 1rem 0;
                        text-align: center;
                        z-index: 10000;

                        li {
                            a {
                                font-size: 1.4rem;
                                font-weight: 500;
                                line-height: 2.5;
                            }
                        }

                    }
                }
            }
        }

    }

    .footer_bottom {
        background-color: var(--subColor);
        height: 32rem;
        color: #fff;

        .wide_inner {
            /* background-color: cornflowerblue; */
            height: 100%;

            .footer_bottom_left {
                .footer_logo {
                    width: 7rem;
                    margin-top: 1.5rem;

                    img {
                        width: 100%
                    }
                }

                address {
                    padding: 2rem 0;
                    font-size: 1.5rem;
                    line-height: 2;

                    span {
                        margin-right: 1rem;
                    }
                }

                .copy {
                    font-size: 1.2rem;
                    color: #969696;
                }
            }

            .footer_bottom_right {
                .footer_menu {
                    text-align: end;
                    line-height: 2.5;
                    font-size: 1.5rem;
                    font-weight: 500;
                }
            }
        }
    }
}



